.my_center{
    line-height:40px;
}
.my_color{
    background:#1E1F29;
}
.input-select{
    padding: 0px 15px;
    background: #FFF;
    border: 1px solid #E4E7ED;
    height: 40px;
    border-radius: 40px 0px 0px 40px;
}
.input-button{
    background:red;
    border:0;
    height: 40px;
    border-radius: 0px 40px 40px 0px;
    width:100px;
    color:white;
}
.input{
    background: #FFF;
    border: 1px solid #E4E7ED;
    height: 40px;
    width:295px;
}
.input_center{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #15161D;
    margin: 0;
    border-bottom:3px solid red;
}
header>div{
    width:100%!important;
    margin:0;
}
a:hover{
    color:red;
}








