.my_register{
    text-align: center;
    padding-top: 20px;
    width:100%;
}
.my_register input{
    margin-left: 295px;
    outline:1px solid #49af4f;
}
.my_register button{
    margin-right:120px;
    border-radius: 15px 15px 15px 15px;
    background:gray;
    color:whitesmoke;
}
.my_register button:hover{
    background:#6c757d;
}